<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Blog | About Me</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="./images/blog-icon.svg" type="image/x-icon">
</head>
<body>
    <%- include('partials/header', {email: email}); %>

    <div class="about-wrapper container">

        <h1 class="title container">John Doe</h1>

        <div class="about-content">

        <img class="doe-img container" src="images/john-doe.png" alt="John Doe">

            <div class="about-me container">
                <h2 class="about-me-h2 container">About Me</h2>
                <p class="about-me-p container">As a passionate and experienced UI designer, I am dedicated to creating intuitive and engaging user experiences that meet the needs of my clients and their users. I have a strong understanding of design principles and a proficiency in design tools, and I am comfortable working with cross-functional teams to bring projects to fruition. I am confident in my ability to create designs that are both visually appealing and functional, and I am always looking for new challenges and opportunities to grow as a designer.</p>
            </div>


            <div class="skill container">

                <h2 class="skill-h2 container">Skills:</h2>

                    <p class="skill-p container">Extensive experience in UI design, with a strong portfolio of completed projects</p>
                    <p class="skill-p container">Proficiency in design tools such as Adobe Creative Suite and Sketch</p>
                    <p class="skill-p container">Excellent visual design skills, with a strong understanding of layout, color theory, and typography</p>
                    <p class="skill-p container">Ability to create wireframes and prototypes to communicate design concepts</p>
                    <p class="skill-p container">Strong communication and collaboration skills, with the ability to work effectively with cross-functional teams</p>
                    <p class="skill-p container">Experience conducting user research and gathering insights to inform design decisions</p>
                    <p class="skill-p container">Proficiency in HTML, CSS, and JavaScript</p>

            </div>


            <div class="experience container">

                <h2 class="experience-h2 container">Experience:</h2>

                <p class="experience-p container">5 years of experience as a UI designer, working on a variety of projects for clients in the tech and retail industries</p>
                <p class="experience-p container">Led the design of a successful e-commerce website, resulting in a 25% increase in online sales</p>
                <p class="experience-p container">Created wireframes and prototypes for a mobile banking app, leading to a 20% increase in app usage</p>
                <p class="experience-p container">Conducted user research and usability testing to inform the redesign of a healthcare provider's website, resulting in a 15% increase in website traffic</p>

            </div>


            <div class="education container">

                <h2 class="education-h2 container">Education:</h2>

                <p class="education-p container">Bachelor's degree in Graphic Design</p>
                <p class="education-p container">Certified User Experience Designer (CUED)</p>

            </div>


        </div>

    </div>

    <%- include('partials/footer'); %>
</body>
</html>