body {
    background-color: #090D1F;
}

/* Header styles override */
.burger span {
    background: #ffffff;
}

.username p, .nav-link {
    color: #fff;
}

/* Footer styles override */
.footer-item {
    color: #fff;
}

.about-wrapper {
    margin: 0 auto;
}

.title {
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 180px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 50px;
}

@media (max-width: 1440px) {
    .title {
        font-size: 180px;
    }
}

@media (max-width: 1024px) {
    .title {
        font-size: 140px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 100px;
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 60px;
    }
}

.doe-img {
    width: 100%;
    padding-inline: 0;
}

.about-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
    padding-inline: 0;
}
.about-me-h2 {
    font-family: Inter monospace;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0;
    color: #fff;
}
.about-me-p {
    font-family: Inter monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #C0C5D0;
}
.skill {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    padding-inline: 0;
}
.skill-h2 {
    font-family: Inter monospace;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0;
    color: #fff;
}
.skill-p {
    font-family: Inter monospace;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    color: #C0C5D0;
}
.experience {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    padding-inline: 0;
}
.experience-h2 {
    font-family: Inter monospace;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0;
    color: #fff;
}
.experience-p {
    font-family: Inter monospace;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    color: #C0C5D0;
}
.education {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
    padding-inline: 0;
}
.education-h2 {
    font-family: Inter monospace;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0;
    color: #fff;
}
.education-p {
    font-family: Inter monospace;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    color: #C0C5D0;
}